<!-- Managed by Ansible -->
<html>
<head><title>Lab 2: Roles and Structure</title></head>
<body>
  <h1>Hello from {{ ansible_facts['hostname'] }}</h1>
  <p>Listening on port: {{ webserver_port }}</p>
  <p>Package installed: {{ webserver_package }}</p>
</body>
</html>
