bucket         = "REPLACE-WITH-LAB2-BUCKET-NAME"
key            = "lab-15-capstone/production/platform/terraform.tfstate"
region         = "us-east-1"
dynamodb_table = "REPLACE-WITH-LAB2-LOCK-TABLE-NAME"
encrypt        = true
